In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from fim import apriori

In [2]:
train = pd.read_csv(r"C:\Users\Ada\1_Jupyter\DMML Lab\Progettino\training_ready.csv")
train.head()

,IsBadBuy,Auction,VehicleAge,WheelType,VehOdo,Nationality,VehBCost,WarrantyCost,OutCost,VehOdo_Standard,AverageMMR,Make_new,VNST_new,Size_class,Model_Name,Model_Property,SubModel_New,Trim_New
0,0,0,3,Alloy,89046,OTHER ASIAN,7100.0,1113,1,1.448203,10805.00,MAZDA,FL,1,MAZDA3,None,SEDAN,i
1,0,0,5,Alloy,93593,AMERICAN,7600.0,1053,1,1.423371,9676.50,DODGE,FL,9,1500,RAM,CAB,ST
2,0,0,4,Covers,73807,AMERICAN,4900.0,1389,1,0.147163,5840.50,DODGE,FL,1,STRATUS,V6,SEDAN,SX
3,0,0,5,Alloy,65617,AMERICAN,4100.0,630,1,-0.655988,3729.00,DODGE,FL,0,NEON,None,SEDAN,SX
4,0,0,4,Covers,69367,AMERICAN,4000.0,1020,1,-0.184597,6349.25,FORD,FL,0,FOCUS,None,COUPE,ZX

## Pattern Mining

In [ ]:
# We transform numeric variables into categorical variables (except for VehicleAge which is already in a suitable format)
# We create a second dataframe where we will store the new variables and delete those variables that will not be used in our analysis

In [4]:
train2 = train
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IsBadBuy         72983 non-null  int64
 1   Auction          72983 non-null  int64
 2   VehicleAge       72983 non-null  int64
 3   WheelType        72983 non-null  object
 4   VehOdo           72983 non-null  int64
 5   Nationality      72983 non-null  object
 6   VehBCost         72983 non-null  float64
 7   WarrantyCost     72983 non-null  int64
 8   OutCost          72983 non-null  int64
 9   VehOdo_Standard  72983 non-null  float64
 10  AverageMMR       72983 non-null  float64
 11  Make_new         72983 non-null  object
 12  VNST_new         72983 non-null  object
 13  Size_class       72983 non-null  int64
 14  Model_Name       72983 non-null  object
 15  Model_Property   72983 non-null  object
 16  SubModel_New     72983 non-null  object
 17  Trim_New         72983 non-null  object
dtypes: float64(3), int64(7), object(8)
memory usage: 10.0+ MB

## Features Engineering

In [5]:
# We create bins that will be the categories of our new variables

In [8]:
train2['VehOdo_bin'] = pd.cut(train2['VehOdo'].astype(int), 10, right=False)
train2['WarrantyCost_bin'] = pd.cut(train2['WarrantyCost'].astype(int), 10, right=False)
train2['AverageMMR__bin'] = pd.cut(train2['AverageMMR'].astype(int), 10, right=False)
train2['VehBCost_bin'] = pd.cut(train2['VehBCost'].astype(int), 10, right=False)

train2.drop(["VehOdo_Standard","OutCost",'VehOdo', "WarrantyCost", "AverageMMR", "VehBCost", "VehBCost"], axis=1, inplace=True)

In [9]:
train2.head()

,IsBadBuy,Auction,VehicleAge,WheelType,Nationality,Make_new,VNST_new,Size_class,Model_Name,Model_Property,SubModel_New,Trim_New,VehOdo_bin,WarrantyCost_bin,AverageMMR__bin,VehBCost_bin
0,0,0,3,Alloy,OTHER ASIAN,MAZDA,FL,1,MAZDA3,None,SEDAN,i,"[82449.4, 93538.6)","[462.0, 1165.6)","[7598.4, 11397.6)","[4547.8, 9094.6)"
1,0,0,5,Alloy,AMERICAN,DODGE,FL,9,1500,RAM,CAB,ST,"[93538.6, 104627.8)","[462.0, 1165.6)","[7598.4, 11397.6)","[4547.8, 9094.6)"
2,0,0,4,Covers,AMERICAN,DODGE,FL,1,STRATUS,V6,SEDAN,SX,"[71360.2, 82449.4)","[1165.6, 1869.2)","[3799.2, 7598.4)","[4547.8, 9094.6)"
3,0,0,5,Alloy,AMERICAN,DODGE,FL,0,NEON,None,SEDAN,SX,"[60271.0, 71360.2)","[462.0, 1165.6)","[0.0, 3799.2)","[1.0, 4547.8)"
4,0,0,4,Covers,AMERICAN,FORD,FL,0,FOCUS,None,COUPE,ZX,"[60271.0, 71360.2)","[462.0, 1165.6)","[3799.2, 7598.4)","[1.0, 4547.8)"

In [10]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IsBadBuy          72983 non-null  int64
 1   Auction           72983 non-null  int64
 2   VehicleAge        72983 non-null  int64
 3   WheelType         72983 non-null  object
 4   Nationality       72983 non-null  object
 5   Make_new          72983 non-null  object
 6   VNST_new          72983 non-null  object
 7   Size_class        72983 non-null  int64
 8   Model_Name        72983 non-null  object
 9   Model_Property    72983 non-null  object
 10  SubModel_New      72983 non-null  object
 11  Trim_New          72983 non-null  object
 12  VehOdo_bin        72983 non-null  category
 13  WarrantyCost_bin  72983 non-null  category
 14  AverageMMR__bin   72983 non-null  category
 15  VehBCost_bin      72983 non-null  category
dtypes: category(4), int64(4), object(8)
memory usage: 7.0+ MB

In [ ]:
# Remapping categorical variables: 
# We transform all numerical variables into strings and add labels to ease the analysis and interpretation of results

In [11]:
train2['IsBadBuy'] = train2['IsBadBuy'].map(
    {0: 'NotBadBuy', 1: 'IsBadBuy'}).astype(str)
train2['Size_class'] = train2['Size_class'].astype(str) + "_Size"
train2['VehBCost_bin'] = train2['VehBCost_bin'].astype(str) + "_VebCost"
train2['Auction'] = train2['Auction'].astype(str) + "_Auction"

train2['VehOdo_bin'] = train2['VehOdo_bin'].astype(str) + "_VehOdo"
train2['WarrantyCost_bin'] = train2['WarrantyCost_bin'].astype(str) + "_WarrantyCost"
train2['AverageMMR__bin'] = train2['AverageMMR__bin'].astype(str) + "_AverageMMR"

In [12]:
train2.head()

,IsBadBuy,Auction,VehicleAge,WheelType,Nationality,Make_new,VNST_new,Size_class,Model_Name,Model_Property,SubModel_New,Trim_New,VehOdo_bin,WarrantyCost_bin,AverageMMR__bin,VehBCost_bin
0,NotBadBuy,0_Auction,3,Alloy,OTHER ASIAN,MAZDA,FL,1_Size,MAZDA3,None,SEDAN,i,"[82449.4, 93538.6)_VehOdo","[462.0, 1165.6)_WarrantyCost","[7598.4, 11397.6)_AverageMMR","[4547.8, 9094.6)_VebCost"
1,NotBadBuy,0_Auction,5,Alloy,AMERICAN,DODGE,FL,9_Size,1500,RAM,CAB,ST,"[93538.6, 104627.8)_VehOdo","[462.0, 1165.6)_WarrantyCost","[7598.4, 11397.6)_AverageMMR","[4547.8, 9094.6)_VebCost"
2,NotBadBuy,0_Auction,4,Covers,AMERICAN,DODGE,FL,1_Size,STRATUS,V6,SEDAN,SX,"[71360.2, 82449.4)_VehOdo","[1165.6, 1869.2)_WarrantyCost","[3799.2, 7598.4)_AverageMMR","[4547.8, 9094.6)_VebCost"
3,NotBadBuy,0_Auction,5,Alloy,AMERICAN,DODGE,FL,0_Size,NEON,None,SEDAN,SX,"[60271.0, 71360.2)_VehOdo","[462.0, 1165.6)_WarrantyCost","[0.0, 3799.2)_AverageMMR","[1.0, 4547.8)_VebCost"
4,NotBadBuy,0_Auction,4,Covers,AMERICAN,FORD,FL,0_Size,FOCUS,None,COUPE,ZX,"[60271.0, 71360.2)_VehOdo","[462.0, 1165.6)_WarrantyCost","[3799.2, 7598.4)_AverageMMR","[1.0, 4547.8)_VebCost"

## Pattern Mining Algorithm

In [ ]:
# We create a list that contains the records

In [13]:
baskets = train2.values.tolist()
baskets[1]

['NotBadBuy',
 '0_Auction',
 5,
 'Alloy',
 'AMERICAN',
 'DODGE',
 'FL',
 '9_Size',
 '1500',
 'RAM',
 'CAB',
 'ST',
 '[93538.6, 104627.8)_VehOdo',
 '[462.0, 1165.6)_WarrantyCost',
 '[7598.4, 11397.6)_AverageMMR',
 '[4547.8, 9094.6)_VebCost']

In [ ]:
# We extract the association rules

In [41]:
rules2 = apriori(baskets, supp=1, zmin=4, zmax= 4, target='r', conf=20, report='ascl')

In [18]:
print('Number of rule:', len(rules2))

Number of rule: 992987

In [ ]:
# We set parameters in order to the filter the rules with appropriate lift and confidence levels.
# r[5] = lift, r[4] = Conf. We set lift>2 and confidence > 0.6

In [24]:
count = 0
for r in rules2:
    if r[5] > 2 and r[4] > 0.6:
#         print(r)
        count += 1
print(count)

346597

In [ ]:
# With lift>2 and confidence > 0.60 we obtained 346597 rules.
# However, none of the rules implicates "NotBadBuy" nor "IsBadBuy", which are the classes of our target variable.
# We play with lift and confidence level in order to obtain valuable rules.

In [50]:
count = 0
for r in rules2:
    if r[0] == "NotBadBuy" and r[5] > 1.1 and r[4] > 0.2:
        print(r)
        count += 1
print(count)

('NotBadBuy', ('STRATUS', 'V6', '[462.0, 1165.6)_WarrantyCost'), 718, 0.009837907457901154, 0.9715832205683356, 1.1078328649481906)
('NotBadBuy', (1, 'OK', '[38092.6, 49181.8)_VehOdo'), 729, 0.009988627488593234, 0.9655629139072848, 1.1009683026183912)
('NotBadBuy', (1, '[38092.6, 49181.8)_VehOdo', '1_Size'), 1238, 0.01696285436334489, 0.9656786271450858, 1.101100242862965)
('NotBadBuy', (1, '[38092.6, 49181.8)_VehOdo', '[7598.4, 11397.6)_AverageMMR'), 997, 0.013660715509091158, 0.9679611650485437, 1.1037028716974373)
('NotBadBuy', (1, '[38092.6, 49181.8)_VehOdo', 'Covers'), 1167, 0.01599002507433238, 0.9668599834299917, 1.10244726624699)
('NotBadBuy', (1, '[38092.6, 49181.8)_VehOdo', '[462.0, 1165.6)_WarrantyCost'), 1304, 0.017867174547497363, 0.9666419570051891, 1.1021986649602342)
('NotBadBuy', (1, '[38092.6, 49181.8)_VehOdo', 'SEDAN'), 1023, 0.014016962854363345, 0.9705882352941176, 1.106698348250513)
('NotBadBuy', (1, '[38092.6, 49181.8)_VehOdo', '[4547.8, 9094.6)_VebCost'), 1232, 0.016880643437512846, 0.9662745098039216, 1.1017796889249551)
('NotBadBuy', (1, '[38092.6, 49181.8)_VehOdo', '1_Auction'), 1295, 0.017743858158749296, 0.9671396564600448, 1.1027661591298366)
('NotBadBuy', (1, '[38092.6, 49181.8)_VehOdo', 'AMERICAN'), 1188, 0.01627776331474453, 0.9713818479149632, 1.10760325286887)
('NotBadBuy', (1, '4C', '1_Size'), 1340, 0.01836044010248962, 0.9668109668109668, 1.1023913757989718)
('NotBadBuy', (1, '4C', '[462.0, 1165.6)_WarrantyCost'), 1336, 0.01830563281860159, 0.9667149059334298, 1.1022818438567579)
('NotBadBuy', (1, '4C', 'SEDAN'), 1298, 0.01778496362166532, 0.9693801344286781, 1.1053208297687473)
('NotBadBuy', (1, '4C', '[4547.8, 9094.6)_VebCost'), 1196, 0.016387377882520586, 0.9660743134087237, 1.1015514180559765)
('NotBadBuy', (1, '4C', '1_Auction'), 1289, 0.017661647232917254, 0.9655430711610486, 1.1009456772313468)
('NotBadBuy', (1, '4C', 'AMERICAN'), 1296, 0.017757559979721303, 0.9664429530201343, 1.1019717537186318)
('NotBadBuy', (1, 'L', '[462.0, 1165.6)_WarrantyCost'), 714, 0.009783100174013126, 0.9648648648648649, 1.100172362904564)
('NotBadBuy', (1, 'L', 'SEDAN'), 870, 0.011920584245646246, 0.9655937846836848, 1.1010035025476803)
('NotBadBuy', (1, 'L', '[4547.8, 9094.6)_VebCost'), 854, 0.011701355110094132, 0.9649717514124294, 1.1002942386509809)
('NotBadBuy', (1, 'L', '1_Auction'), 899, 0.012317937053834455, 0.96875, 1.1046023286515538)
('NotBadBuy', (1, 'L', 'AMERICAN'), 927, 0.012701588041050656, 0.965625, 1.101039095333323)
('NotBadBuy', (1, '[7598.4, 11397.6)_AverageMMR', 'SEDAN'), 1682, 0.023046462874916077, 0.9661114302125215, 1.101593739922203)
('NotBadBuy', (1, 'SEDAN', '1_Auction'), 2155, 0.029527424194675474, 0.9655017921146953, 1.1008986094318873)
('NotBadBuy', (1, 'SEDAN', 'AMERICAN'), 1999, 0.027389940123042352, 0.9652341863833896, 1.1005934761013472)
('NotBadBuy', ('SX', 'V6', 'Covers'), 1036, 0.014195086526999438, 0.9682242990654205, 1.1040029062241878)
('NotBadBuy', ('SX', 'V6', '[4547.8, 9094.6)_VebCost'), 1110, 0.015209021278927969, 0.9652173913043478, 1.1005743257700755)
('NotBadBuy', ('IMPALA', 'V6', '1_Auction'), 1061, 0.014537632051299617, 0.96718322698268, 1.1028158397499794)
('NotBadBuy', ('IMPALA', 2, '2_Size'), 1220, 0.016716221585848758, 0.9651898734177216, 1.1005429489219236)
('NotBadBuy', ('IMPALA', 2, '[1869.2, 2572.8)_WarrantyCost'), 942, 0.012907115355630763, 0.9651639344262295, 1.1005133723847316)
('NotBadBuy', ('IMPALA', 2, 'L'), 1219, 0.01670251976487675, 0.9651623119556612, 1.1005115223875517)
('NotBadBuy', ('IMPALA', 2, 'CHEVROLET'), 1220, 0.016716221585848758, 0.9651898734177216, 1.1005429489219236)
('NotBadBuy', ('IMPALA', 2, '[7598.4, 11397.6)_AverageMMR'), 1096, 0.015017195785319869, 0.9664902998236331, 1.1020257401851081)
('NotBadBuy', ('IMPALA', 2, 'Covers'), 757, 0.010372278475809436, 0.9705128205128205, 1.1066123577028635)
('NotBadBuy', ('IMPALA', 2, 'SEDAN'), 1220, 0.016716221585848758, 0.9651898734177216, 1.1005429489219236)
('NotBadBuy', ('IMPALA', 2, '[4547.8, 9094.6)_VebCost'), 1218, 0.016688817943904744, 0.96513470681458, 1.1004800460488462)
('NotBadBuy', ('IMPALA', 2, '1_Auction'), 1036, 0.014195086526999438, 0.9691300280636108, 1.1050356498221525)
('NotBadBuy', ('IMPALA', 2, 'AMERICAN'), 1220, 0.016716221585848758, 0.9651898734177216, 1.1005429489219236)
('NotBadBuy', ('[38092.6, 49181.8)_VehOdo', '4C', '1_Size'), 1180, 0.016168148746968473, 0.9664209664209664, 1.1019466838361647)
('NotBadBuy', ('[38092.6, 49181.8)_VehOdo', '4C', '[7598.4, 11397.6)_AverageMMR'), 799, 0.010947754956633736, 0.966142684401451, 1.101629377031748)
('NotBadBuy', ('[38092.6, 49181.8)_VehOdo', '4C', 'Covers'), 987, 0.013523697299371086, 0.9666993143976493, 1.1022640658472298)
('NotBadBuy', ('[38092.6, 49181.8)_VehOdo', '4C', 'SEDAN'), 1165, 0.015962621432388364, 0.966804979253112, 1.1023845485779662)
('NotBadBuy', ('[38092.6, 49181.8)_VehOdo', '4C', '1_Auction'), 1097, 0.015030897606291876, 0.9648197009674582, 1.1001208654632775)
('NotBadBuy', ('[38092.6, 49181.8)_VehOdo', '4C', 'AMERICAN'), 1091, 0.014948686680459834, 0.9663418954827281, 1.1018565244116416)
('NotBadBuy', ('V6', '2_Size', '1_Auction'), 1070, 0.014660948440047682, 0.9674502712477396, 1.1031203328772443)
('NotBadBuy', (2, '2_Size', 'L'), 1227, 0.01681213433265281, 0.9653815892997639, 1.1007615500158525)
('NotBadBuy', (2, '2_Size', 'CHEVROLET'), 1228, 0.016825836153624818, 0.9654088050314465, 1.1007925823364642)
('NotBadBuy', (2, '2_Size', 'Covers'), 816, 0.01118068591315786, 0.9679715302491103, 1.1037146904584)
('NotBadBuy', (2, '[1869.2, 2572.8)_WarrantyCost', 'L'), 1148, 0.01572969047586424, 0.9655172413793104, 1.100916225218901)
('NotBadBuy', (2, '[1869.2, 2572.8)_WarrantyCost', 'CHEVROLET'), 1135, 0.015551566803228148, 0.9651360544217688, 1.1004815826372731)
('NotBadBuy', (2, '[1869.2, 2572.8)_WarrantyCost', '[7598.4, 11397.6)_AverageMMR'), 992, 0.013592206404231122, 0.9678048780487805, 1.1035246678431132)
('NotBadBuy', (2, '[1869.2, 2572.8)_WarrantyCost', 'Covers'), 794, 0.010879245851773701, 0.9706601466992665, 1.106780344127245)
('NotBadBuy', (2, '[1869.2, 2572.8)_WarrantyCost', 'SEDAN'), 1052, 0.014414315662551552, 0.9651376146788991, 1.1004833616965346)
('NotBadBuy', (2, '[1869.2, 2572.8)_WarrantyCost', '1_Auction'), 1085, 0.01486647575462779, 0.9713518352730528, 1.1075690314142705)
('NotBadBuy', ('2_Size', 'None', 3), 959, 0.013140046312154886, 0.9647887323943662, 1.1000855540228105)
54

In [ ]:
# We focus on rules implicating "IsBadBuy" in order to understand which sets of features migh predict a "Bad Buy".

In [46]:
count = 0
for r in rules2:
    if r[0] == "IsBadBuy" and r[5] > 2.2 and r[4] > 0.2:
        print(r)
        count += 1
print(count)

('IsBadBuy', ('EXPLORER', '6_Size', '[4547.8, 9094.6)_VebCost'), 200, 0.002740364194401436, 0.2706359945872801, 2.2005154626741827)
('IsBadBuy', ('EXPLORER', 'SUV', '[4547.8, 9094.6)_VebCost'), 200, 0.002740364194401436, 0.2706359945872801, 2.2005154626741827)
('IsBadBuy', ('EXPLORER', 'FORD', '[4547.8, 9094.6)_VebCost'), 200, 0.002740364194401436, 0.2706359945872801, 2.2005154626741827)
('IsBadBuy', ('EXPLORER', '[4547.8, 9094.6)_VebCost', 'AMERICAN'), 200, 0.002740364194401436, 0.2706359945872801, 2.2005154626741827)
('IsBadBuy', (8, '[1.0, 4547.8)_VebCost', '1_Auction'), 229, 0.003137717002589644, 0.310719131614654, 2.526427627298607)
('IsBadBuy', (8, '[1.0, 4547.8)_VebCost', 'AMERICAN'), 250, 0.003425455243001795, 0.3026634382566586, 2.4609275528393177)
('IsBadBuy', (8, 'SEDAN', '1_Auction'), 242, 0.0033158406752257373, 0.2830409356725146, 2.3013788556358215)
('IsBadBuy', (8, 'SEDAN', 'AMERICAN'), 229, 0.003137717002589644, 0.27524038461538464, 2.237953318893117)
('IsBadBuy', (7, '[1.0, 4547.8)_VebCost', 'Alloy'), 227, 0.0031103133606456296, 0.29907773386034253, 2.4317725323450734)
('IsBadBuy', (7, '[1.0, 4547.8)_VebCost', '1_Auction'), 311, 0.004261266322294233, 0.27280701754385966, 2.2181678432936174)
('IsBadBuy', (7, '[1.0, 4547.8)_VebCost', 'AMERICAN'), 370, 0.005069673759642656, 0.28287461773700306, 2.300026540363157)
('IsBadBuy', (6, '[1.0, 4547.8)_VebCost', '[3799.2, 7598.4)_AverageMMR'), 287, 0.00393242261896606, 0.27229601518026564, 2.214012931807189)
('IsBadBuy', ('6_Size', 'FORD', '[4547.8, 9094.6)_VebCost'), 200, 0.002740364194401436, 0.2706359945872801, 2.2005154626741827)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', 'CHRYSLER', 'AMERICAN'), 222, 0.003041804255785594, 0.2730627306273063, 2.2202470219889365)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', '[1869.2, 2572.8)_WarrantyCost', 'AMERICAN'), 305, 0.0041790553964621896, 0.2750225428313796, 2.236182068121945)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', 'TX', '[3799.2, 7598.4)_AverageMMR'), 309, 0.0042338626803502186, 0.2798913043478261, 2.27576950370069)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', 'TX', '1_Size'), 240, 0.0032884370332817233, 0.27491408934707906, 2.235300243183809)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', 'TX', 'Alloy'), 247, 0.0033843497800857734, 0.3207792207792208, 2.608225252911082)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', 'TX', 'SEDAN'), 336, 0.004603811846594413, 0.2814070351758794, 2.288093766515286)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', 'TX', '1_Auction'), 287, 0.00393242261896606, 0.2712665406427221, 2.205642372518693)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', 'TX', 'AMERICAN'), 407, 0.005576641135606922, 0.29301655867530596, 2.3824896949420515)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', '0_Auction', 'Alloy'), 251, 0.003439157063973802, 0.27827050997782704, 2.2625909792459615)
('IsBadBuy', ('[1.0, 4547.8)_VebCost', '[82449.4, 93538.6)_VehOdo', 'Alloy'), 360, 0.004932655549922585, 0.27972027972027974, 2.2743789187639454)
23